#styleBox{
 width: auto;
 margin-bottom: 5px;
 overflow-x: hidden;
}

#styleBoxDotation{
  padding-bottom: 3vh;
}

.form-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  right: 10px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  top: 30px;
  /**/
  /* margin-top: 50px;*/
  z-index: 1;
  position: relative;
  /* background-color: red; */
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.step {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #4CAF50; /*  border-radius: 5px;*/
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

  .step:hover {
    background: #1B5E20;
  }

  .step.active {
    /* background: #3498DB;*/
    background: #1B5E20;
    color: white;
  }

    .step.active:hover {
      background: #1B5E20;
    }

form p {
  margin-bottom: 20px;
  color: #ff0000;
  font-size: 20px;
  text-align: center;
}

form label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  font-size: 14px;
}

form input {
  width: 93%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
}

  form input:focus {
    /*border-color: #66afe9;*/
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }

.button-group {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

  .button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #3498DB;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }

    .button-group button:disabled {
      background: #ccc;
    }

    .button-group button:hover:not(:disabled) {
      background: #3498DB;
    }

/**/
.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.spacer {
  width: 20px;
}


#Justification {
  height: 90px;
  width: 98%;
}

/*.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
*/
.container {
  max-width: 100%;
  width: 15%;
  height: 443px;
  padding: 20px;
  top: 25px;
  right: 45px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  /**/
  position: absolute;
  margin-top: 50px;
  z-index: 1;
}

/**/

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.left-side {
  flex: 1;
  min-width: 700px;
  margin-right: 20px;
}

/*.form-container, .table {
  margin-bottom: 20px;
}*/

.recherche {
  flex: 0 0 300px;
  margin-left: 20px;
  /* margin-top: 50px;*/
  z-index: 1;
}

@media (max-width: 1200px) {
  .left-side, .recherche {
    flex: 1 0 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .recherche {
    margin-top: 20px;
  }
}

/*Css pour les boutons de objectifs*/
.addButton {
  background-color: #2ECC71;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 30px
}

  .addButton:hover {
    background-color: darkgreen;
  }

.removeButton {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  height: 30px;
  width: 100px;
}

  .removeButton:hover {
    background-color: darkred;
  }

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .label .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
/*CSS pour les dotations*/
.dotation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category {
  margin: 0 15px;
  font-size: 15px;
}

.dotations {
  width: 100%; 
}

.dotation td {
  padding: 5px;
}

.dotation input[type="checkbox"] {
  margin-right: 10px;
}

#attachment {
  width: 98%
}


.form-control {
  width: 93%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

  .form-control:focus {
    /* border-color: #66afe9;*/
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }






/*/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  box-sizing: border-box;
}

.page__box {
  min-height: 100px;
  background: #cc0000;
  margin: 0 -1rem;
  font-size: 30px;
  box-sizing: border-box;
}

.page__content {
  min-height: calc(100vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto; /* Ajoutez ceci pour permettre le défilement si le contenu dépasse la hauteur */
}

.page__content-data {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
